<meta charset="utf-8">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">英创Education</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="mainUrl.do" class="scroll-link">首页</a></li>
      <li><a href="findTeacherUrl.do" class="scroll-link">找老师</a></li>
      <li><a href="findStudentUrl.do" class="scroll-link">找学员</a></li>
      <li><a href="aboutUrl.do" class="scroll-link">关于我们</a></li>
      <li><a href="loginUrl.do" class="scroll-link">登录/注册</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<b id="user">游客</b> 
		<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">我的账户</a></li>
          <li><a href="#">我的服务</a></li>
          <li class="divider"></li>
          <li><a href="logout.do">退出登录</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </nav>